fastapi
uvicorn
pydantic
SqlAlchemy
psycopg2-binary
bcrypt
PyJWT
python-dotenv
decouple
pydantic[email]
slowapi
email-validator
apscheduler
orjson
python-multipart
py3-validate-email
disposable-email-domains
